.navbar {
  background-color: #1e1e2f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar h1 {
  font-size: 1.5rem;
}

.navbar a {
  color: #f4f6f7;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}
